{{#if listItems}}
<div class="row">
    {{#each listItems}}
    <div class="col-md-4 col-sm-12">
        <h4>{{listName}}</h4>
        <ol>
            {{#each bookList}}
            <li>
                <a href="{{bookLink}}" target="_blank">
                    <h7>{{title}}</h7>
                </a>
                <p> by <a href="{{authorLink}}" target="_blank">{{author}}</p></a>
            </li>
            {{/each}}
        </ol>
        <a href="/booklists/{{_id}}">View the whole list.</a>
    </div>
    {{/each}}
    <div class="flex-row d-flex justify-content-around">
            <button type="button" class="btn btn-primary btn-lg view-list text-center">View More Lists</button>
    </div>
</div>
{{else}}
<div class="row d-flex justify-content-center">
     <h4 class="text-center">There's currently no data in the database.</h4>
    <button type="button" class="btn btn-secondary scrape">Scrape Data</button>
    </div>

{{/if}}