<div class="jumbotron jumbotron-fluid jumbotron-lists">
    <div class="container">
            <h1 class="text-center pt-4">Explore the List</h1>
    </div>
</div>

<div class="container">
<h3 class="text-center pb-3">{{title}}</h3>
<ol>
    {{#each books}}
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
    <li class="d-flex pt-2 pb-2">
        <p><a href="{{bookLink}}" target="_blank">{{title}}</a> by <a href="{{authorLink}}" target="_blank">{{author}}</a>
        <button type="button" class="btn btn-primary save-book" data-toggle="modal" data-target="#save-display"
            data-id="{{_id}}">
            Save Book
        </button>
    </li>
    </div>
    </div>
    {{/each}}
</ol>

</div>

<div class="modal fade" id="save-display" tabindex="-1" role="dialog" aria-labelledby="save" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save <span id="book-title"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="notes">Notes:</label>
                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Save Book</button>
            </div>
        </div>
    </div>
</div>